.thumbnail-seccion__image-1 {
  right: 33px;
  top: 24px;
}
.thumbnail-seccion__image-2 {
  top: 96px;
  right: 190px;
  z-index: 1;
}
.thumbnail-seccion__image-3 {
  top: 126px;
  right: 75px;
}
.thumbnail-seccion__image-4 {
  right: 400px;
  top: 127px;
}
.thumbnail-seccion__image-5 {
  right: 230px;
  top: 80px;
}
