.thumbnail-seccion__image-1 {
  right: 550px;
  top: 205px;
}
.thumbnail-seccion__image-2 {
  bottom: -39px;
  right: 122px;
}
.thumbnail-seccion__image-3 {
  bottom: -43px;
  right: 18px;
}
.thumbnail-seccion__image-4 {
  right: 435px;
  top: 66px;
}
.thumbnail-seccion__image-5 {
  right: 115px;
  top: 96px;
}
.thumbnail-seccion__image-6 {
  right: 250px;
  top: 143px;
}
.thumbnail-seccion__image-7 {
  right: 210px;
  top: 125px;
}
.thumbnail-seccion__image-8 {
  right: 285px;
  bottom: -37px;
}
